<% if current_user && current_user.id == @event.comedian_id %>

<p id="notice"><%= notice %></p>

<% @comedians.each do |comedian| %>
<% if @event.comedian_id == comedian.id %>
<a href="/comedians/<%=comedian.id%>">
    <div class="row">   <!--picture 1 assigning -->
          <div class="col s2 m2">
            <div class="card">
              <div class="card-image">
                <img src="http://www.geeklegacy.com/wp-content/uploads/2013/07/ride-along-kevin-hart-600x243-150x150.jpg">
                <span class="card-title"></span>
                  </div>
                    <div class="card-content">
                      <p><%= comedian.username  %></p>
                  </a>
            </div>
        </div>
    </div>
    <% end %>
  <% end %>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Lineup:</strong>
  <%= @event.lineup %>
</p>

<p>
  <strong>Tickets link:</strong>
  <%= @event.tickets_link %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<% else %>
  <%  flash[:message] = "You must the comedian to access this page!"%>
<% end %>
